<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>

    <link rel="stylesheet" href="signup.css">

</head>
<body>

    <div class="background"></div>

    <div class="card">

        <h2>Welcome</h2>

        <form class="form">
            <input type="text" placeholder="Username" required> <br>
            <input type="email" placeholder="Email" required> <br>
            <input type="password" placeholder="Password" minlength="8" required> <br>
            <input type="password" placeholder="Confirm Password" minlength="8" required> <br>
            <button>Sign Up</button>
        </form>

        <footer>Already Have Account !! <a href="login.html"> <button> Click here </button> </a></footer>

    </div>

</body>
</html>